<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config/>

    <bean id="connectionProviderSFCPunish" class="com.thrift.ConnectionProviderImpl">
        <property name="serviceIP" value="${sfc.punish.service.ip}" />
        <property name="servicePort" value="${sfc.punish.service.port}" />
        <property name="maxActive" value="${sfc.punish.service.maxActive}" />
        <property name="maxIdle" value="${sfc.punish.service.maxIdle}" />
        <property name="testOnBorrow" value="${sfc.punish.service.testOnBorrow}" />
        <property name="testOnReturn" value="${sfc.punish.service.testOnReturn}" />
        <property name="testWhileIdle" value="${sfc.punish.service.testWhileIdle}" />
        <property name="conTimeOut" value="${sfc.punish.service.conTimeOut}" />
    </bean>

    <bean id="connectionManagerSFCPunish" class="com.thrift.ConnectionManager">
        <property name="connectionProvider"  ref="connectionProviderSFCPunish"/>
    </bean>

    <bean id="thriftClientProxySFCPunish" class="com.thrift.ThriftClientProxy">
        <property name="connectionManager" ref="connectionManagerSFCPunish"/>
    </bean>

    <aop:config proxy-target-class="true">
        <aop:pointcut id="sfcPunishInvoke"
                      expression="execution(* com.*.*(..))" />
        <aop:advisor advice-ref="connectionManagerSFCPunish" pointcut-ref="sfcPunishInvoke" />
    </aop:config>

</beans>